@model WebSurvey_Sales_CRM.Models.RolesUser

@{
    ViewData["Title"] = "RolesUser";
    Layout = "_Layout";
}

<h1>RolesUser</h1>

<h4>RolesUser</h4>
<hr />
<form asp-action="IndexAddRolesUser" method="post">
    <input type="text" name="NameRolesUser" placeholder="Enter role name" />
    <button type="submit">Submit</button>
</form>


